#### 1. Given two arrays, write a function that will return an array with common elements in both arrays (order doesn’t matter).  
• All elements are positive integers  
• If no common element return [-1]  
• If one element is common multiple times add it to returning array multiple times.  

• Sample  
o input: a=[1,2,1,3], b=[1,1,1,4] output: [1,1]   
o input: a=[9,5,4,9], b=[5,5,9] output: [9,5]   
o input: a=[1,2,3], b=[4,5,6] output: [-1]

In [1]:
def get_common():
    try:
        a = eval(input("Enter first list: "))
        b = eval(input("Enter second list: "))
        l = []
        for i in range(0,len(a)):
                if a[i] in b:
                    l.append(a[i])
                    b.remove(a[i])
        if len(l) == 0:
            l.append(-1)
            print(l)
        else:
            print(l)
    except Exception as e:
        print(e)

In [2]:
get_common()

Enter first list: [9,5,4,9]
Enter second list: [5,5,9]
[9, 5]

In [3]:
get_common()

Enter first list: [1,2,1,3]
Enter second list: [1,1,1,4]
[1, 1]

In [4]:
get_common()

Enter first list: [1,2,3]
Enter second list: [4,5,6]
[-1]

#### 2. Given a receipt of grocery bought. Write an SQL query to return 5th cheapest article in the list.

In [ ]:
# Considering few thigs before writing the query
1. Table Name - receipt
2. Columns - sno, article_name, price

WITH price_rnk AS  
    (SELECT  
         article_name,  
         price,  
         ROW_NUMBER() OVER(ORDER BY price) AS RNK  
     FROM receipt)  

SELECT  
    article_name  
FROM price_rnk  
WHERE RNK = 5;